1. Общение
- Нецензурная лексика разрешена в рамках отыгрывания роли в IC чат.
- Нецензурные выражения в ООС чат запрещены категорически.
- Нецензурное или грубое общение с администрацией на сервере или форуме строго запрещено.

В местах с большим скоплением людей (клубные вечеринки, мероприятия, похороны и т.д). Вы должны использовать такие команды, как /w (шепот) и /ame, чтобы не создавать флуд, а также не мешать остальным игрокам.

2.1. Неролевое поведение
- Запрещено вмешиваться в другую ситуацию, к которой Вы не относитесь.
- Запрещено бегать, прыгать, кататься на машине вокруг игроков, участвующих в игровой ситуации, тем самым мешая им и нарушая атмосферу.
- Запрещено ездить на крыше авто под предлогом посадки в салон, в котором более нет системных мест. Исключениями являются только кабриолеты с возможностью посадки на задние места.
- Отсутствие IC подвязки каких-либо своих действий. В частности, игра из ООС побуждений или отклонение от здравого смысла.
- Технические драки регулируются данным понятием. Запрещено бегать по кругу, прятаться от драки на пассажирском сидении авто.
- Если у Вашего авто повреждено более 2-х колес (шипы, прострелены и т.д), вы обязаны остановиться.

2.2. Несоответствие роли
- Запрещено необоснованно преувеличивать физические возможности своего персонажа.
- Запрещено необоснованно преувеличивать психологические возможности своего персонажа.
- Запрещено необоснованно преувеличивать материальные/социальные возможности своего персонажа.
- Продолжение движения после значительного ДТП и столкновения запрещено.
- Провокация полиции на погоню строго запрещена.
- Запрещается реклама интим-услуг, поиск половых партнёров через объявления G:BUY.
- Запрещается использование функционала G:BUY или команды /action с целью продажи огнестрельного оружия.

2.3. Использование оружия гражданскими лицами
Для применения оружия, в том числе убийства, требуется весомая причина. Показ оружия и угрозы не являются равнозначными стрельбе и убийству.

Не считается весомой причиной:
- Оскорбление вас или вашей семьи.
- Физический конфликт или драка с другим персонажем.
- Личная антипатия к другому персонажу или его действиям.

Считается весомой причиной:
- Угроза вашей жизни от одного или нескольких лиц.
- Наличие свидетелей, способных помешать вашему сюжету или операции.
- Тщательно спланированное убийство на специальных локациях.

3. Имя вашего персонажа: правила и ограничения
- Имя вашего персонажа не должно быть сокращением, например Leha или Sanek. Используйте полные формы, как например Alexander или Alexey, аналогичные тому, как они были бы записаны в паспорте.
- Запрещено использование имён, совпадающих с именами известных личностей.
- Имя персонажа должно соответствовать его национальности. Если есть несоответствие, необходимо описать это в одобренной биографии персонажа или в процессе регистрации через UCP.
- Имя и фамилия персонажа должны быть в одной национальной парадигме. Например, не допускаются сочетания вроде Vladimir_Catalino или Brandon_Kalashnikov. Если требуется разное происхождение имени и фамилии, это также должно быть описано в одобренной биографии персонажа или при регистрации через UCP.

4. Ролевая игра животных: особенности собак
Собаки, как наиболее активные домашние питомцы, могут быть взаимодействующими персонажами в ролевой игре.
Для отыгрыша роли собаки используйте формат NickName: "Кличка собаки"_Dog.
Если вы хотите играть роль собаки, в заявке на UCP отвечайте на вопросы, представляясь человеком. В графе "Квента" описывайте вашего персонажа - собаку.

5. Отказ от игры и взаимодействия
- Зачастую случается, что многие игроки нашего сервера отказываются продолжать игру из-за некомпетентности своего оппонента или по каким-либо другим причинам – это большая ошибка. В любом случае вы должны закончить ситуацию, а уже после этого написать жалобу на форум, в соответствующий раздел.
- Если игрок, с которым Вы участвуете в ситуации, допускает какие-либо мелкие нарушения или имеет недочеты в отыгровке, но при этом старается играть свою роль, Вы обязаны доиграть ситуацию до конца. Вы можете подсказать ему в /pm и указать на его ошибки, избегая флуда и оскорблений. Отказ от игры приравнивается к выходу с/от ролевой ситуации.

5.1 Вторая стадия смерти
Доведение до второй стадии обязательно должно сопровождаться отыгровкой, исключениями являются системные падения во вторую стадию в результате получения критических ранений или активная перестрелка (экстренная ситуация), неважно при каких обстоятельствах или с какого оружия. Также требуется наличие весомой причины для убийства.

5.2 Взаимодействие с SA-ES
Даже если Вы считаете, что полицейский проводит задержание без должной на то причины, Вы должны понимать, что это сугубо IC проблема и решать её стоит в игре, подав жалобу в соответствующие органы на офицера. Либо, если присутствовало нарушение правил сервера, Вы обязаны доиграть ситуацию до конца и подать жалобу на форум в соответствующий раздел. Также как отказ от госпитализации и взаимодействии при ДТП и ЧС. Не стоит переносить IС нарушения полиции на OOC уровень.

5.3 Взаимодействие с игроками
Если к Вам напрямую обращается другой игрок или же показывает с помощью отыгровки, что он взаимодействует именно с Вами, то Вы обязаны отреагировать на это. Будь то какая-то фраза или даже пояснение в /do о том, почему Вы не реагируете на действия оппонента. Просто развернуться и убежать является неуважением и приравнивается к отказу от игры или к выходу с/от ролевой ситуации.

6. Metagaming (MG)
Metagaming – использование внеигровой информации внутриигрово (IC). Это крайне серьезное нарушение.

7. Bunny Hopping (BH)
Запрещены прыжки, увеличивающие скорость передвижения персонажа.
1 предупреждение (warn).

8. Злоупотребление ООС чатом
Во время ролевой ситуации дискуссии без необходимости запрещены. Пообщайтесь с друзьями через /pm. Злоупотребление ООС чатом наказуемо. Пишите в ООС чат только необходимое, избегая флуда. Злоупотребление ООС чатом нарушает игровую атмосферу.
1 предупреждение (warn).

9. Character Kill (CK)
Character Kill – полное уничтожение персонажа. Игроку, которого убили, выдается бан с статусом СК. Он должен создать новый аккаунт, используя новое имя и роль. Имущество обнуляется. Использование купона на смену роли запрещено.
Статус игрока определяется сервером в соответствии с системой стадий и урона. Если над персонажем написано "мертв", он получает СК; если "ранен", СК не выдается. Спорные ситуации решает следящий администратор.

10. Faction Character Kill (FCK)
Faction Character Kill (FCK) - это полное уничтожение роли через убийство персонажа фракцией в игре. Этот статус присваивается при наличии запроса от руководства фракции и допущении его в игре. FCK могут получить только члены или аутсайдеры криминальной организации.
Руководство организации имеет право на FCK и другие меры в отношении своих членов внутри организации по их усмотрению.
Решение о FCK от лидера и руководства организации может быть оспорено в разделе жалоб. Обязателен период взаимодействия внутри фракции не менее трех дней.
Для присвоения FCK фракция должна предоставить доказательства ситуации, которая привела к этому решению и последствиям. FCK не присваивается при взаимодействии фракции с лицами, не связанными с организацией.
Необходима вторая стадия смерти или отыгрыш самой смерти для присвоения FCK, независимо от стадии или типа ранения.

11. Player Kill (PK)
Player Kill (PK) – убийство игрока, не причиняющее ущерба его основной роли. PK имеет частный характер, не прерывает игру основной роли и часто связан с уличными перестрелками, не включающими крупнокалиберное оружие. При получении PK персонаж забывает обстоятельства, приведшие к убийству. Доступ к игре ограничивается на 90 минут.

12. Revenge Kill (RK)
Revenge Kill (RK) – убийство игрока в ответ на то, что он убил вас, независимо от того, был ли выставлен PK или CK. Смерть означает забвение ситуации полностью, как для вас, так и для вашего убийцы.
Блокировка персонажа на 3-10 дней.

13. Drive-by (DB)
Запрещена стрельба из автомобиля и наезд на игрока с целью убийства или нанесения урона. Это предоставляет большое преимущество стреляющему игроку.
Блокировка персонажа на 5-20 дней.
Блокировка всего аккаунта навсегда.

14. Deathmatch (DM)
Deathmatch (DM) – убийство без весомой IC причины или нанесение урона без объяснения мотивов. Если у вас нет обоснования для убийства и вы не можете объяснить его, администрация может наказать вас.
Блокировка персонажа или аккаунта навсегда.

15. Стрельба по полицейским. Полицейские Рейды и погони
- Если преступник или полицейский умирает во время рейда/штурма или специальной ситуации, он получает СК.
- В рандомных ситуациях (пешее преследование, погоня, спонтанная перестрелка и т.п.) обе стороны получают PK.
- Если персонаж находится в группе других персонажей, которые открыли огонь по полицейским, но при этом не достал оружия и не сделал выстрела, к нему применяются обычные процедуры задержания.
- Если вы первый открываете огонь по полицейскому, вы обязаны отыграть то, как достали оружие и c какой целью.
- Выход из игры во время ареста или рейда приравнивается к отказу от игры.
- Стрельба по сотрудникам полиции без какой-либо причины строго запрещена и приравнивается к несоответствию роли.
- При захвате дома, стрельбы в интерьере, рейде или любых подобных мероприятиях, ожидание 10 секунд распространяется не только на вошедших в интерьер полицейских, но и на вышедших из интерьера. Все захваты домов, рейды или штурмы рекомендуется проводить при прямом присутствии следящей администрации.
- Баллистический шлем специальных отрядов государственных фракций, находящийся в комплекте тяжелого бронежилета способен выдержать только одно попадание, система сама расчитывает урон. Игрок обязан отыгрывать действия персонажа в соответствии с полученной стадией смерти.
- Все ранения, которые получил ваш персонаж вы обязаны отыгрывать после того, как активная перестрелка заканчивается. Все ранения, что получил ваш персонаж можно отыгрывать как не смертельные при условии, что вы не находитесь в первой или второй стадии.

16. Игра в свою пользу
- Допустим, вы решили ограбить человека и отыгрываете, что вокруг вас нет камер видеонаблюдения и свидетелей, то есть направляете внешние факторы в свою пользу.
- У вас на руках 30 000$, при ограблении вы играете 15 000$.
- В меру обстоятельств вы участвуете в драке 1 против 3, но играете как технично уворачиваетесь от всех ударов.
- Вы врезались в стену на огромной скорости, ваше авто отлетело в сторону. Вы играете что поцарапали свою машину.
- Упавшего во вторую стадию игрока строго запрещено поднимать мелкими отыгровками с земли. Поднятым с помощью аптечки может быть только игрок, который не имеет смертельных ранений и находится в первой стадии.

16.1. Ношение маски.
Маску носить строго с аттачем, так же использование маски должно быть обусловлено веской причиной.

16.2. Поджидание человека в AFK
Запрещено поджидать человека находящегося в AFK, к данному пункту относятся ситуации, при которых игрока намеренно поджидают либо в непосредственной близости, либо катаясь где-то рядом в ожидании, когда человек задвигается, чтобы совершить над ним какие либо действия - похитить, убить, ограбить и так далее.

17. Продажа игровой валюты и аккаунтов
Запрещено продавать / приобретать игровое имущество за реальные деньги другим игрокам.

18. Сексуальное насилие и жестокость
- Отыгровка таких ситуаций должна быть по обоюдному согласию обеих сторон.
- Если игрок начал отыгрывать подобное, напишите ему в ООС чат, указывая на правило, чтобы он прекратил. Если игрок упорно продолжает, то Вы можете отказаться от игры и позвать администратора. Нельзя отказываться, предварительно не предупредив игрока о том, что необходимо остановиться.
- Подобные действия можно отыграть в одну строчку, например: /do Произошло изнасилование.

19. Год на сервере(Криминал в Гетто)
На сервере отыгрывается настоящее время, то есть нынешний год. Во многих оживленных местах находятся камеры видеонаблюдения, используют современную вычислительную технику, современные машины и вещи. В своей отыгровке это нужно учитывать. Однако, большим заблуждением многих игроков является то, что преступности практически нет и видя оружие у бандита, сразу же кричат в ООС чат о том, что сейчас допустим 2019 год. Это неправильно. Да, разгул преступности чуть меньше, чем в тех же девяностых, потому что полиция в Америке работает отлично, но на улицах происходят все те же перестрелки, те же драки, тот же криминал. Нужно помнить, что-то – жизнь, а это – игра. Люди играют так, как хотят, придерживаясь лишь правил сервера. Принуждать их и диктовать свою игру никто не собирается и не будет.

20. Крупногабаритное оружие и инвентарь
- Запрещено ношение крупногабаритного оружия в сумке или инвентаре вашего персонажа.
- Запрещено скроллить оружие.
- Отыгрывать доставание и стрельбу с малогабаритного оружия обязательно, если вы инициируете перестрелку, для того, что бы окружающие вас люди поняли причину и начало перестрелки. Если перестрелка уже началась, как и в случае с технической дракой отыгрывать доставание не обязательно.
- Отыгрывать доставание и стрельбу с крупногабаритного оружия разрешено в одну строку. Исключением является уже начавшаяся перестрелка.
- Категорически запрещено отыгрывать нахождение крупногабаритного оружия в инвентаре как нахождение его в багажнике, сумке, доме, гараже.
- Если Вы переносите куда-либо а не носите с собой крупногабаритные предметы/оружие, либо несколько небольших предметов/оружий, у Вас должно присутствовать /pame, в котором Вы указываете где конкретно у Вас это находится.

Крупногабаритное оружие: 
М4, АК-47, MP-5, винтовка, дробовик, бита, клюшка, трость, катана, кий.

Малогабаритное оружие:
Пистолеты, полуавтоматические пистолеты, тазер, нож, кастет, обрез.

21. AFK / Выход во время ролевой ситуации
- В случае вылета из игры во время РП ситуации у вас есть ровно 5 минут на то, что бы вернуться в игру и продолжить РП процесс.
- В случае намеренного выхода из игры, вы автоматически наказываетесь за выход с игры во время РП процесса.
- Вы не можете стоять AFK на оживлённой или узкой по дорожному покрытию дороге, так как можете помешать проезжающим игрокам в силу рассинхронов с вашим автомобилем.

21.1 Фарм с помощью AFK
Запрещено оставлять своего персонажа без AFK, для генерации пейчеков. Особенно это касается персонажей с VIP статусом. Одна из самых распространенных ситуаций это оставление персонажа на ночь под предлогом "РП сна".

22. Зеленые зоны(ЗЗ)
- Если нужно отыграть какую-либо ситуацию в Зеленой Зоне, сначала нужно спросить разрешения администратора.
- Если Вы все-таки совершили преступление, Вы обязаны незамедлительно сообщить полиции от лица свидетелей. (командой /callw)
- Если одна ситуация приводит к ЗЗ, а там продолжается - является исключением из правил.

Вызов 911 от лица свидетелей:
Вызывать 911 от лица свидетелей необходимо только в том случае, если вы находитесь в заведомо оживленном месте, трасса, город. В случае если вокруг вас есть более 2-3 игроков вызывать 911 не обязательно, так же не обязательно вызывать 911 в безлюдных местах, пустыни, лесу и тд.

23. Ограбления и аферы
- Максимальная сумма ограбления одного человека составляет 50% от его наличности. Вы можете забрать у него половину суммы, которая находится у него в кармане. (Запрещено караулить игроков у банкоматов в Зеленых Зонах, у центра купли-продажи и подобных мест). Поэтому не носите с собой большие суммы наличных и храните свои сбережения на банковской карте.
- Запрещено требовать продать имущество во время ограбления.
- Запрещено проводить ограбления слишком часто, не более двух раз в день, в противном случае ваша игра превращается в лутерство.
- Запрещено проводить ограбления игроков, которые находятся в стадии смерти или добивать их после ограбления.
- Если ограбление происходит в относительно оживленном месте, где потенциально могут быть свидетели, то стоит вызвать полицию от лица свидетелей. Вы можете уточнить у администратора, нужно ли в данном месте звонить в полицию или нет. Если место оживлённое, то Вы должны вызвать полицию в начале или середине ситуации. Вызов полиции в конце ситуации будет рассматриваться как игра в свою пользу.

23.01. Изъятие при ограблении
Изъятие при ограблении телефона, наркотиков, оружия, ключей от машины, дома, бизнеса без разрешения жертвы запрещено. Хорошим тоном будет обговорить изъятие имущества между игроками, например отдать дополнительную часть денежных средств в обмен на телефон. При получении урона вашим персонажем, желательно уделять этому должное внимание. Пример: персонажа избили, он попал в стадию, но продолжает агрессию и оскорбления. Ваш персонаж упал с высокого склона, но никак не отыграл полученные повреждения (переломы, к примеру).

23.02. Крупные ограбления
Крупные ограбления и аферы можно производить на сумму не более 200.000$. Ограбления банка могут осуществляться только с разрешения администратора. Все должно быть тщательно и грамотно спланировано.

23.03. Ограбления банков
Вы должны сообщить все детали ограбления заранее следящему администратору. Войдя в банк, спустя несколько минут нужно обязательно сообщить сотрудникам полиции, что в банке сработала сигнализация. Если ограбление пройдет удачно, администрация выдаст сумму на свое усмотрение, исходя из уровня подготовки, отыгровки и количества участников. Если ограбление пройдет неудачно и кого-то из преступников убьют/поймают либо кто-то выйдет из игры, то персонажу автоматически выдаётся СК. Грабить банк можно не чаще, чем дважды в неделю, неважно, кем при этом проводилось ограбление - вами или другими игроками.

Членам криминальной организации и иным игрокам разрешено грабить и получать те предметы инвентаря, что были отыграны на ситуации или замечены в использовании до ситуации и находятся в инвентаре на данный момент. В данный список входят:

- Наркотики. Ограничением по данному пункту выступает 50% от всех обыгранных единиц нарк. средств.
- Холодное оружие. В данный список входит любое холодное оружие, что было отыграно на ситуации или замечены в использовании до ситуации и находится в инвентаре на ситуации.
- Мелкокалиберное огнестрельное оружие. В данный список входят пистолеты, обрезы и ПП, что были отыграны на ситуации или замечены в использовании до ситуации и находятся в инвентаре на данный момент.
- Мобильный телефон. По согласию обеих сторон может быть изъята сумма равная стоимости моб. телефона. Обязательным условием является отыгровка отсутствия телефона до конца ситуации.
- Аттачи. Одетые на игрока, например часы или головные уборы.

23.1 Угон транспортных средств
Имея одобренный топик в криминальном разделе, либо же в скриншотах персонажей - вы имеете право оформить тред-тему на угнанное авто в разделе РП ситуаций. После одобрения данной ситуации, авто будет передано вам технически на ваш игровой аккаунт.

Условия: 
- Не более 5 автомобилей в месяц
- Не более 2 автомобилей в неделю

Исключение:
- Ситуации, которые изначально нацелены на масштабное взаимодействие

23.2. Убийство после ограблений, ограбление мертвых жертв.
Неправильное использование: 
- Игроки решили ограбить рандомного игрока, убивают того после ограбления.
- Игроки решили ограбить рандомного игрока, который находится во 2 стадии смерти.

Правильное использование:
- Во время ситуации с CK игроки решили ограбить жертву, после убить ее в целях выставления ситуации как ограбление.
- Игроки фракции занимаются выносом складов и барыг других организаций. Во время одной из таких ситуаций игрок противоположной банды фиксирует данное действие со стороны грабителей. Дабы избавить себя от возможных угроз и неприятностей, грабители избавляются от жертвы, убив того. Вторая стадия смерти.

24. Махинации, связанные с имуществом
Любые махинации, связанные с имуществом на сервере строго запрещены и серьезно наказываются.

25. Количество аккаунтов и персонажей на проекте
На проекте возможно иметь один аккаунт и восемь персонажей на этом аккаунте. Если будет создано два и более аккаунта, администрация имеет полное право удалить аккаунт и привязанных к нему персонажей без возможности восстановления и уведомления.

26. Лечение во время перестрелки
Процесс лечения упавшего в стадию игрока должен обязательно обыгрываться в два этапа. За несколько секунд поднять человека, пользуясь одной отыгровкой в несколько слов — слишком легко. В реальной жизни это затратный по времени процесс и заставить бежать/посадить в машину лежачего на земле — очень трудно.

27. Биографии персонажей
На нашем сервере писать биографию не обязательно, но, если Ваш персонаж необычен, например психопат, или же какой-то серийный маньяк, или же он владеет какими-либо отличительными качествами по типу знания нескольких языков, боевых искусств, и т.п., то обязательно Вы должны иметь одобренную биографию на форуме.

27.1. Нестандартные биографии и топики на Character Kill
При отыгрыше нестандартной роли (маньяка, психически нездорового человека) вы, по правилам раздела биографий, обязаны иметь топик. Любая выдача CK будет происходить только постфактум добавления отыгранного в топик.

28. Использование багов игры
- Быстрая стрельба со сбивом анимации.
- Сбив анимации при стрельбе во время перекатов.
- Быстрое нажатие стрелочки вперед при езде на мотоциклах.
- Быстрое нажатие клавиши "Пробел" при беге.
- Излишне быстрая стрельба с Desert Eagle на пассажирском сидении.

29. Использование Role Play чатов
